/* СЕКЦІЯ: НАША КОМАНДА */
.team {
  background-color: $sectionBgColor;
}

.team__title {

  @include breakpoint(tablet-max) {
    margin-bottom: 30px;
    @include font(700, 28px, calc(33 / 28));
  }

  @include breakpoint(desktop) {
    margin-bottom: 50px;
    @include font(700, 36px, calc(42 / 36));
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;

  @include breakpoint(mobile-max) {
    flex-direction: column;
  }

  gap: 30px;
}

.team-item { 
  
  background: $teamListBgColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item__title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;

  @include breakpoint(tablet-max) {
    @include font(500, 16px, calc(19 / 16));
  }

  color: $secondaryTextColor;
}

.team-item__text {
  text-align: center;

  @include font(400, 16px, calc(19 / 16));
}


/* soc-icons */

.list-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 16px 32px 30px 32px;
}

.list-soc__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  fill: $iconColor;
  background-color: $primaryBgColor;
  transition: background-color $timeHover $cubicFunction,
    fill $timeHover $cubicFunction;
}

.list-soc__link:hover,
.list-soc__link:focus {
  background-color: $iconBgColor;
  fill: $iconColorWhite;
}


/* ПРИМІТКА ДЛЯ СЕБЕ: для того щоб розщирити вплив ховера та фокуса, задається зміна одразу лінку! <a href="" class="link-soc"> */
