// CSS-змінні для color and bg 
$primaryColor: #888;
$primaryTextColor: #757575;
$secondaryTextColor: #212121;
$tertiaryTextColor: #ffffff;
$accentTextColor: #2196f3;
$logoText: #000000;
$footerTextColor: rgba(255, 255, 255, 0.6);

$primaryBgColor: #ebf4ff;
$secondaryBgColor: #2f303a;
$sectionBgColor: #f5f4fa;

$bannerBgColor: #c4c4c4;

$primaryBtnBgColor: #2196f3;
$secondaryBtnBgColor: #188ce8;

$primaryBtnBgFilter: #f5f4fa;
$secondaryBtnBgFilter: #2196f3;

$firstBorder: #ececec;

$teamListBgColor: #ffffff;

$iconColorAccent: #2196f3;
$iconColor: #afb1b8;
$iconBgColor: #2196f3;
$iconColorWhite: #ffffff;


$clientsBgColor: #f5f5f5;

$iconFooterBgColor: rgba(255, 255, 255, 0.1);

$clientsBorderAccent: #2196f3;
$clientsColorAccent: #2196f3;

$navBorderColor: #2196f3;
$modalBackdropBgColor: rgba(0, 0, 0, 0.2);
$modalBgColor: #ffffff;
$modalTextInfoColor: #757575;
$modalIconColorAccent: #2196F3;
$modalBorderColor: #2196F3;

$overlayTextColor: #FFFFFF;
$overlayBgColor: rgba(33, 150, 243, 0.9);

//  CSS-змінні для transition 
$timeHover: 250ms;
$cubicFunction: cubic-bezier(0.4, 0, 0.2, 1);